In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('./data/ch2_scores_em.csv')
df.head()

   student number  english  mathematics
0               1       42           65
1               2       69           80
2               3       56           63
3               4       41           63
4               5       57           76

In [3]:
data = np.array([2,3,3,4,4,4,4,5,5,6])

#### 분산
- 관측값에서 평균을 뺀 값을 제곱하고, 그것을 모두 더한 후 전체 개수로 나눠서 구한다. 즉, 차이값의 제곱의 평균이다. 관측값에서 평균을 뺀 값인 편차를 모두 더하면 0이 나오므로 제곱해서 더한다. 
- (편차와 비슷하게 평균으로부터 떨어진 거리 이지만 단위가 다름)

#### 표본분산
- 관측값에서 표본 평균을 빼고 제곱한 값을 모두 더한 것을 n-1로 나눈 것 ?(불편분산)?

#### 편차
- 관측값에서 평균을 뺀 값 (평균과 떨어진 거리)

#### 표준편차
- 분산의 제곱근 (분산의 단위에서 기존 단위로 돌아오게함)

In [5]:
# [과제] 1변향 데이터 data에 대하여 평균, 표본분산, 불편분산,, 표준편차, 최대, 최소, 4분위수. 중앙값을 구하세요.
# 단 함수사용하는 경우와 사용하지 않는 경우를 모두 수행

data_df=pd.DataFrame(data)
# 함수 미사용
av=sum(data) / len(data) # 요소의 합 / 요소의 갯수
print(f'평균 : {av} \n')

sv=sum((data-av)**2) / len(data) # (표본요소 - 표본평균)^2 의 합 / 표본의 수
print(f'(표본)분산 : {sv}') # (각 요소 - 평균)=편차 / 편차 제곱의 합의 평균 

uv = sum((data-av)**2) / (len(data)-1)
print(f'불편분산 : {uv}')

print(f'표준편차 : {np.sqrt(sv)}') # 분산의 제곱근
print(f'최댓값 : {np.sort(data)[-1]}') 
print(f'최솟값 : {np.sort(data)[0]}')

print(f'중앙값 : {((data[len(data)//2])+(data[len(data)//2-1]))/2}') # 요소가 홀수개 이면 (len+1)//2 -1 
# print(f'1분위수 : {data[round(len(data)*0.25)]}')
# print(f'3분위수 : {data[round(len(data)*0.75)]}')

# 함수 사용
print(f'평균 : {data.mean()} \n') 
print(f'표본분산 : {data.var()}') 
print(f'불편분산 : {data_df.var()}')
print(f'표준편차 : {data.std()}')
print(f'최댓값 : {data.max()}')
print(f'최솟값 : {data.min()}')
print(f'중앙값 : {np.median(data)}')
print(f'1분위수 : {np.percentile(data,25)}')
print(f'3분위수 : {np.percentile(data,75)}')

평균 : 4.0

(표본)분산 : 1.2
불편분산 : 1.3333333333333333
표준편차 : 1.0954451150103321
최댓값 : 6
최솟값 : 2
중앙값 : 4.0
1분위수 : 3
3분위수 : 5
평균 : 4.0

표본분산 : 1.2
불편분산 : 0    1.333333
dtype: float64
표준편차 : 1.0954451150103321
최댓값 : 6
최솟값 : 2
중앙값 : 4.0
1분위수 : 3.25
3분위수 : 4.75

#### 공분산
- 두 데이터 사이의 관계를 나타내는 지표 (편차곱의 평균)
- 양의 값 : 면적이 양의 값이 되는 데이터가 많다 ( +끼리, 또는 -끼리 곱한다.)
- 음의 값 : 면적이 음의 값이 되는 데이터가 많다.
- 0에 가까우면 무상관

#### 상관계수
- 단위에 의존하지 않는 상관 관계 지표 (공분산을 편차곱으로 나눈다. -1 ~ 1의 값)
- 공분산 수치를 표준화함

In [4]:
# [과제] 10행 2열 2차원 배열을 생성하고 두 열간의 공분산 및 상관계수를 구하세요.
# 단, numpy, pandas 두가지 방식으로 모두 수행
np.random.seed(0)
arr = np.random.randint(1,20,(10,2))
df=pd.DataFrame(arr,columns=['a','b'])
df['a_div']=df.a - df.a.mean() 
df['b_div']=df.b - df.b.mean()
df['pod']=df['a_div']*df['b_div']
print(f'공분산 : {df.pod.mean()}')
display(df.corr())

공분산 : 11.52

              a         b     a_div     b_div       pod
a      1.000000  0.484548  1.000000  0.484548 -0.130913
b      0.484548  1.000000  0.484548  1.000000  0.391684
a_div  1.000000  0.484548  1.000000  0.484548 -0.130913
b_div  0.484548  1.000000  0.484548  1.000000  0.391684
pod   -0.130913  0.391684 -0.130913  0.391684  1.000000

In [5]:
np.var(df.a,ddof=0), np.var(df.b,ddof=0)

(18.21, 31.04)

In [9]:
cov_mat = np.cov(df.a,df.b,ddof=0)[0,1]
cov_mat

0     0.453901
1     0.239103
2     1.030411
3     0.806723
4     0.969697
5    -0.285007
6     3.408284
7     0.232352
8    -1.473146
9   -27.428571
Name: pod, dtype: float64

In [27]:
np.corrcoef(df.a,df.b)

array([[1.        , 0.48454783],
       [0.48454783, 1.        ]])

In [10]:
arr = np.random.randint(0,100,20).reshape(10,2)
np.random.seed(0)
print(arr,'\n')
arr1 = arr[:,0]
arr2 = arr[:,1]
arr1_dev = arr1 - np.mean(arr1)
arr2_dev = arr2 - np.mean(arr2)
GBS = np.mean(arr1_dev*arr2_dev)
SGGS = np.cov(arr1,arr2,ddof=0)[0,1]/(np.std(arr1)*np.std(arr2))
print(f'공분산 : {GBS}')
print(f'상관계수 : {SGGS}')

[[20 80]
 [69 79]
 [47 64]
 [82 99]
 [88 49]
 [29 19]
 [19 14]
 [39 32]
 [65  9]
 [57 32]]

공분산 : 239.75000000000006
상관계수 : 0.34282390734478513