In [1]:
!python -V

Python 3.8.12

In [6]:
# 표현식
print(273)
10+20+30

273

60

In [7]:
# 표현식이 하나 이상씩 모이면 문장
print("Hello Python")
print(52, 'Hello Python', 5+3)

Hello Python
52 Hello Python 8

In [13]:
# 문장이 모여서 프로그램
a = 1; b = 1 ;c = a+b
print(c)

2

In [19]:
# Python Keyword
import keyword
print(keyword.kwlist,'\n')
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

식별자 기본 규칙
- 키워드를 사용하면 안된다.
- 특수문자는 언더바 만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

In [ ]:
alpha
break # 키워드
alpha10
_alpha
273alpha #숫자시작
Alpha
ALPHA
has alpha #공백 포함

https://bibi6666667.tistory.com/277
파이썬은 snake_case와 CamelCase를 모두 사용

- itemlist item_list ItemList
- loginstatus login_status LoginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다. - 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다. - 변수

In [1]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어

if 3 in [1,2,3,4]: print("3이 있습니다.")

3이 있습니다.

In [10]:
if 5 in [1,2,3,4,5]: 
    print('exist')
else: print('no exist')

exist

In [24]:
if "eo" in ["kang", "seo", "eo"]:
    print('o')

o

In [13]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a=123
b=-123
c=0
d=1.23
e=0o177 # 8진수 0o로 시작
f=0xABC # 16진수 0x로 시작
g=0b101010 # 2진수 0b로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
42

In [14]:
# 사칙연산
a=10
b=2
c=a+b
d=a*b
e=a/b
f=a%b # 나머지
g=a//b # 몫
h=2**3 # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
20
5.0
0
5
8

In [17]:
# 다른 타입간 연산은 안됨
string = "문자열"
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [20]:
a=10
a="문자"
a=100.0
type(a)

float

In [21]:
# 복합 대입 연산자
num = 10
num += 10
num *= 10
num

200

In [25]:
num=100
num-=50
num//=5
num

10

In [26]:
# 사용자 입력
input('인사말을 입력하세요: ')

인사말을 입력하세요: 안녕하세요.

'안녕하세요.'

In [27]:
num = input('숫자를 입력하세요: ') #input함수는 문자열로 출력함
print(num)
type(num)

숫자를 입력하세요: 10
10

str

In [28]:
num1 = input('숫자를 입력하세요')
num2 = input('숫자를 입력하세요')
print(num1+num2)

숫자를 입력하세요5
숫자를 입력하세요5
55

In [29]:
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print(num1_n+num2_n)

숫자를 입력하세요5
숫자를 입력하세요5
10

In [35]:
a=input('a입력')
a1=int(a)
b=input('b입력')
b1=float(b)
print(a1+b1)

a입력3
b입력3.3
6.3

In [37]:
a=52
b=52.273
print(str(a) + str(b))

5252.273

In [38]:
# 문자열 : "", '', """ """, ''' '''
p1="python's value is great"
print(p1)

python's value is great

In [39]:
s1='"python is valuable" he says'
print(s1)

"python is valuable" he says

In [40]:
s2= 'python\'s value is great'
print(s2)

python's value is great

In [42]:
y1="Once you study data analysis\nYou need Python"
print(y1)
y2= '''Once you study data analysis
You need Python'''
print(y2)
y3= """Once you study data analysus
You need Python"""
print(y3)

Once you study data analysis
You need Python
Once you study data analysis
You need Python
Once you study data analysus
You need Python

In [46]:
t1='He says "I\'m hungry"\nand I say "me, too"'
print(t1)

He says "I'm hungry"
and I say "me, too"

In [51]:
# 문자열 연산
a1='Python'
a2=' is easy to learn'
print(a1+a2)
print((a1+' ') * 3)
print("="*20)

Python is easy to learn
Python Python Python
====================

In [54]:
# 자료형 - List
# 리스트는 []로 표시하며 []안의 요소를 콤마로 구분하여 순서있게 나열
list1=[1,2,3,4,5]
a1=5;a2=7
list2=['a','b','c','d']
list3=[1,'a','abc',list1,list2, a1, a2]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c', 'd'], 5, 7]

In [60]:
# 인덱싱
list1=[1,2,3,4,5]
print(list1[:])
print(list3[2])
print(list3[3][4])
print(list3[4][1])

[1, 2, 3, 4, 5]
abc
5
b

In [65]:
#리스트 수정, 삭제
a=[0,1,2,3,4,5,6,7,8,9]
b=['a','b','c']
a[0]=1
b[1]='a'
print(a)
print(b)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [69]:
a=[0,1,2,3,4,5,6,7,8,9]
b=['a','b','c']
c= a+b
print(c)
print(c[-1]) #맨 끝 인덱스
c[-1]=1
print(c[-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
c
1

In [75]:
# 정렬 x.sort()
b=[2,4,3,1]
b.sort()
print(b)
# 내림차순
b_d=sorted(b,reverse=True)
print(b_d)
b.reverse()
print(b)

[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 2, 1]

In [80]:
s=[1,1,2,3,4,5,6,7,8,9,1]
#s.sort(); print(s)
#s.reverse(); print(s)
s=sorted(s,reverse=True); print(s)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 1, 1]

In [82]:
# 인덱스 위치 반환 x.index()
c=[1,2,3,1,5]
print(c.index(3))

2

In [85]:
import numpy as np
c=np.random.randint(100,size=100).tolist()
print(c)
c.index(65)

[74, 7, 46, 98, 38, 14, 81, 47, 30, 41, 28, 10, 64, 73, 68, 77, 29, 35, 95, 65, 90, 52, 83, 81, 79, 40, 81, 66, 4, 72, 17, 14, 2, 43, 46, 29, 71, 96, 19, 45, 89, 9, 9, 6, 89, 41, 69, 15, 96, 36, 40, 14, 37, 97, 14, 24, 68, 25, 10, 50, 56, 24, 99, 47, 82, 44, 65, 50, 10, 45, 63, 81, 16, 87, 15, 19, 52, 67, 89, 39, 70, 71, 40, 42, 44, 6, 32, 55, 25, 25, 51, 34, 73, 31, 82, 40, 42, 59, 65, 7]

19

In [86]:
# 개수 반환 x.count()
c=[1,1,3,3,3,5,5]
print(c.count(3))

3

In [105]:
# 리스트 확장
h=[1,2,3]
h.extend([4,5])
print(h)
# 추가
h.append(6)
print(h)
h.insert(0,5)
print(h)
h.insert(7,7)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]

In [112]:
# 튜플
tuple1=(1,2,3,4,5)
a1=5;a2=7
tuple2=('a','c','d')
tuple3=(1,'a','abc',tuple1,tuple2, a1, a2)

print(tuple1[:])
print(tuple3[2])
print(tuple3[3][4])
print(tuple3[4][1])

(1, 2, 3, 4, 5)
abc
5
c

In [ ]:
# 자료형 - Tuple
# 튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용

In [108]:
t1=(1,) #1개의 요소만 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)
t2=1,2,3
print(t2)
print(t2*3)
t3=t1+t2
print(t3)
t4=(1) #,안붙이면 int로 취급
print(t4)
type(t4)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1

int

In [113]:
# 자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합) key:value 형태
# 리스트와 튜플은 인덱스로 값에 접근
d1={'a':1, 'b':2,'c':3}
print(d1['a'])
d1['b']=5
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [115]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [118]:
d={'철수':'사과','영수':'바나나','국수':'배'}
print(d.keys())
print(d.values())
print(d.items())

d['철수']= '파인애플'
print(d)

dict_keys(['철수', '영수', '국수'])
dict_values(['사과', '바나나', '배'])
dict_items([('철수', '사과'), ('영수', '바나나'), ('국수', '배')])
{'철수': '파인애플', '영수': '바나나', '국수': '배'}

In [202]:
# 사전 검색

d={'철수':'사과','영수':'바나나','국수':'배'}

a=input('이름을 입력하세요 :')
a_in=str(a)
if a in d:
    print(f'{a}가 좋아하는 과일은 {d[a]} 입니다.')
else: 
    print('no exist name.')

이름을 입력하세요 :영수
영수가 좋아하는 과일은 바나나 입니다.

In [121]:
# 자료형 - 집합, set(중복을 하용하지 않으며 순서가 없다.) ()안의 []리스트 형태
s1=set([7,8,2,4,3])
s2=set("Hello")
print(s1); print(s2)

{2, 3, 4, 7, 8}
{'H', 'o', 'e', 'l'}

In [122]:
# 집합은 인덱싱으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱
l1=list(s1)
print(l1[1])
l2=list(s2)
print(l2[1])

3
o

In [132]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,8,9])

print('union :',list(s1|s2))
print('intersection :',list(s1&s2))

union : [1, 2, 3, 4, 5, 6, 8, 9]
intersection : [4, 5, 6]

In [137]:
list=[1,2,3,4,5]
tuple=(1,2,3,4,5)
dic={'a':1,'b':2,'c':3}
set=([1,2,'a','c',5])

print(list)
print(tuple)
print(dic)
print(set)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'a': 1, 'b': 2, 'c': 3}
[1, 2, 'a', 'c', 5]

In [138]:
# 들여쓰기
li=['a','b','c']
if 'a' in li:
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')

a가 li에 있습니다.

In [144]:
# 문자열 포멧
name='홍길동'
age=30
print('나의 이름은',name,'입니다. 나이는',age,'입니다.')
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

나의 이름은 홍길동 입니다. 나이는 30 입니다.

'나의 이름은홍길동입니다. 나이는 30입니다.'

In [200]:
d={'name':'홍길동', 'age':30}
print('나의 이름은',d["name"],'입니다. 나이는',d["age"],'입니다.')
print(f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.')

나의 이름은 홍길동 입니다. 나이는 30 입니다.
나의 이름은 홍길동입니다. 나이는 30입니다.

In [149]:
y=3.4213234
f'{y:0.4f}' # 소수점 4자리까지만 표현

'3.4213'

In [150]:
f'{y:10.4f}' # 소수점 4자리까지 표현, 총 자리수를 10으로 맞춤

'    3.4213'

In [153]:
# 포멧함수
f1="{} 선수가 {}등입니다." .format('홍길동',1)
print(f1)
f1="{1} 선수가 {0}등입니다." .format(1,'홍길동') # {}안의 숫자는 인자의 순서
print(f1)
print("%s 선수가 %d등입니다." %("홍길동",1))

홍길동 선수가 1등입니다.
홍길동 선수가 1등입니다.
홍길동 선수가 1등입니다.

In [155]:
f="{}은 {}보다 {}배 쉽습니다." .format('파이썬','자바',2)
print(f)
print("%s은 %s보다 %d배 쉽습니다." %('파이썬','자바',2))

파이썬은 자바보다 2배 쉽습니다.
파이썬은 자바보다 2배 쉽습니다.

12345
     12345
12.345679
          12.346

In [191]:
# 과제

a=12.345679
a1=int(a*1000)
print(f'{a1}')
print(f'{a1:10}')
print(f'{a}')
print(f'{a:17.3f}')

12345
     12345
12.345679
           12.346

In [203]:
# 제어문 - if-elif~else
# "수입과 지출금액을 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가 
# 같으면 현상 유지"
i=5,000,000
e=3,000,000

if i>e:
    print('저축 증가')
elif i<e:
    print('빚이 증가')
else:
    print('현상 유지')

저축 증가

In [204]:
# for 반복문
numbers=[5,15,6,20,7,25]
for num in numbers:
    print(num,end=' ')

5 15 6 20 7 25

In [229]:
# for ~ continue ~ break
# 1~10 범위의 정수에서 1부터 5까지만 출력하세요.
i=0
for i in range(1,11):
    print(i,end=' ')
    if i<5:
        continue
    else:
        break

1 2 3 4 5

In [230]:
# numbers 리스트에서 15,20,25를 출력하세요. (for,if 필수)
numbers=[5,15,6,20,7,25]
num=0
for num in numbers:
    if num>= 15:
        print(num,end=' ')

15 20 25

In [238]:
# while
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하시오.

x=1; sum=0
while 1:
    sum=sum+x
    if sum>1000:
        print(x)
        print(sum)
        break
    x=x+1

45
1035

In [267]:
# while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구하시오.
a=0; sum=0
while a<1000:
    a+=1
    if a%3==0:
        sum=sum+a
print(sum)

166833

In [257]:
#[과제] 1부터 100까지의 정수중 5에서 95까지의 합을 구하세요.
i=0; sum=0
while i<101:
    i+=1
    if i>4 and i<96:
        sum=sum+i
print(sum)

4550

In [206]:
# 5를 2로 나누었을때의 몫과 나머지를 구하시오.
x=5; y=2
a=x//y; b=x%y
print(f'몫은 {a}, 나머지는 {b}입니다. ')

몫은 2, 나머지는 1입니다.

In [208]:
# 101의 3승을 구하시오.
print(101**3)

1030301

In [217]:
a='Python'
b='3.8.3'
print(a+' '+b)

a=5
a='10'
a=15
print(type(a))

a=5
a**=3
a%=3
print(a)

Python 3.8.3
<class 'int'>
125
2

In [218]:
a=input('이름을 입력하시오: ')
print(f'이름은 {a} 입니다.')

이름을 입력하시오: 어정호
이름은 어정호입니다.

In [219]:
a=input("첫 번째 숫자를 입력하시오: ")
a_1=int(a)
b=input("두 번째 숫자를 입력하시오: ")
b_1=int(b)
c=input("세 번째 숫자를 입력하시오: ")
c_1=int(c)
print((a_1**b_1)/c_1)

첫 번째 숫자를 입력하시오: 2
두 번째 숫자를 입력하시오: 2
세 번째 숫자를 입력하시오: 3
1.3333333333333333

In [287]:
# [과제] while문을 사용해 1부터 1000까지의 정수 중 3괴 5의 공배수의 합을 구하시오.
i=1; sum=0;
while i<=1000:
    i+=1
    if i%3==0 or i%5==0:
        sum+=i
print(sum)

33165

In [265]:
# [과제] 1부터 5까지 입력해서 12345를 출력하세요
a=input('숫자를 입력하시오: ')
b=input('숫자를 입력하시오: ')
c=input('숫자를 입력하시오: ')
d=input('숫자를 입력하시오: ')
e=input('숫자를 입력하시오: ')
print(a+b+c+d+e)

숫자를 입력하시오: 1
숫자를 입력하시오: 2
숫자를 입력하시오: 3
숫자를 입력하시오: 4
숫자를 입력하시오: 5
12345

In [289]:
# [과제] [0,1,2,3,4,5,6,7,8,9,'a','b','c']에서 9와 'a'를 삭제 후 리스트로 출력하세요.
a=[0,1,2,3,4,5,6,7,8,9,'a','b','c']
del a[9]; del a[-3]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

In [361]:
# [과제] [0,1,2,3,4,5,6,7,9,'b','c']에서 'c'를 삭제 후 출력하세요.
a=[0,1,2,3,4,5,6,7,9,'b','c']
del a[-1]
for i in a:
    print(i,end=' ')

0 1 2 3 4 5 6 7 9 b

In [296]:
# [과제] [4,8,5,4,8,4,3,9,1,9]를 내림차순으로 정렬하세요.
a=[4,8,5,4,8,4,3,9,1,9]
#a.sort()
#a.reverse()
#print(a)
a=sorted(a,reverse=True); print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 1, 1]

In [382]:
# [과제] format 함수를 이용해서 다음과 같은 형식으로 현재 날짜/시간을 출력하세요.
# 2021년 12월 29일 15시 47분 30초
import datetime
today=datetime.datetime.today()
year=today.year
mon=today.month
day=today.day
hour=today.hour
min=today.minute
sec=today.second
print(f'{year}년 {mon}월 {day}일 {hour}시 {min}분 {sec}초')

2021년 12월 29일 18시 23분 4초

In [395]:
# [과제] 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요.
import datetime
t=datetime.datetime.now()
hour=t.hour
min=t.minute
if hour>12:
    print(f'현재시각은 오후 {int(hour)-12}시 {min}분 입니다.')
else:
    print(f'현재시각은 오전 {hour}시 {min}분 입니다.')

현재시각은 오후 6시 28분 입니다.

In [354]:
# [과제] 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작성
num=input('숫자를 입력하세요: ')
if int(num)%2==0:
    print(f'입력한 숫자 {num}은 짝수 입니다.')
else:
    print(f'입력한 숫자 {num}은 홀수 입니다.')

숫자를 입력하세요: 456489
입력한 숫자 456489은 홀수 입니다.

In [396]:
# [과제] 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.
# 원숭이, 닭, 개, 돼지, 쥐, 소 ,범 ,토끼, 용, 뱀, 말, 양
y=int(input('태어난 연도를 입력해주세요: '))
if y%12==0:
    print(f'{y}년은 원숭이띠 입니다.')
elif y%12==1:
    print(f'{y}년은 닭띠 입니다.')
elif y%12==2:
    print(f'{y}년은 개띠 입니다.')
elif y%12==3:
    print(f'{y}년은 돼지띠 입니다.')
elif y%12==4:
    print(f'{y}년은 쥐띠 입니다.')
elif y%12==5:
    print(f'{y}년은 소띠 입니다.')
elif y%12==6:
    print(f'{y}년은 범띠 입니다.')
elif y%12==7:
    print(f'{y}년은 토끼띠 입니다.')
elif y%12==8:
    print(f'{y}년은 용띠 입니다.')
elif y%12==9:
    print(f'{y}년은 뱀띠 입니다.')
elif y%12==10:
    print(f'{y}년은 말띠 입니다.')
else:
    print(f'{y}년은 양띠 입니다.')

태어난 연도를 입력해주세요: 1997
1997년은 소띠 입니다.

[과제] 계절 구분 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [398]:
#1~3봄4~6여7~9가10~12겨
import datetime
t=datetime.datetime.now()
mon=t.month
if mon>=1 and mon<=3:
    print('현재는 봄 입니다.')
elif mon>=4 and mon<=6:
    print('현재는 여름 입니다.')
elif mon>=7 and mon<=9:
    print('현재는 가을 입니다.')
else:
    print('현재는 겨울 입니다.')

현재는 겨울 입니다.

[과제] 커피 자판기 프로그램
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 case별 멘트 출력은 상황에 맞게 창작

- while, if ~ elif ~ 
else 제어문을 사용하여 작성

In [408]:
insert=0; cost=300; stock=5;
if stock>0:
    buy=input('구매를 원하는 수량을 입력하세요: ')
    if int(buy)>stock:
        print(f'재고가 부족합니다. 남은 수량: {stock}')
    elif int(buy)<stock:
        print(f'구매 수량은 {buy}잔, 금액은 {int(buy)*300}원 입니다.')
        in_cost=input('금액을 투입하여 주세요. 투입한 금액: ')
        if int(in_cost)==int(buy)*300:
            print('커피 나왔습니다. 감사합니다.')
        elif int(in_cost)<int(buy)*300:
            print(f'금액이 부족합니다. 투입된 금액 :{in_cost}원, 부족한 금액 :{int(buy)*300-int(in_cost)}')
            print('투입한 금액을 반환합니다.')
        else: 
            print(f'투입한 금액은 {in_cost}원, 거스름돈은 {int(in_cost)-int(buy)*300}원 입니다.')
            print('커피와 거스름돈을 챙겨주세요. 감사합니다.')
#else stock==0:
   # print('재고가 부족합니다.')

구매를 원하는 수량을 입력하세요: 5

In [ ]:
insert=0; cost=300; stock=5;
while 1:
    if stock>0:
        buy=input('구매를 원하는 수량을 입력하세요: ')
        if int(buy)>stock:
            print(f'재고가 부족합니다. 남은 수량: {stock}')
            
        elif int(buy)<=stock:
            print(f'구매 수량은 {buy}잔, 금액은 {int(buy)*300}원 입니다.')
            in_cost=input('금액을 투입하여 주세요. 투입한 금액: ')
            if int(in_cost)==int(buy)*300:
                print('커피 나왔습니다. 감사합니다.')
                stock=stock-int(buy)
                if stock==0:
                    print("재고가 모두 소진되었습니다. 판매를 중지합니다.")
                    break
            elif int(in_cost)<int(buy)*300:
                print(f'금액이 부족합니다. 투입된 금액 :{in_cost}원, 부족한 금액 :{int(buy)*300-int(in_cost)}')
                print('투입한 금액을 반환합니다.')
                continue
            else: 
                print(f'투입한 금액은 {in_cost}원, 거스름돈은 {int(in_cost)-int(buy)*300}원 입니다.')
                print('커피와 거스름돈을 챙겨주세요. 감사합니다.')
                stock=stock-int(buy)

구매를 원하는 수량을 입력하세요: 3
구매 수량은 3잔, 금액은 900원 입니다.
금액을 투입하여 주세요. 투입한 금액: 1200
투입한 금액은 1200원, 거스름돈은 300원 입니다.
커피와 거스름돈을 챙겨주세요. 감사합니다.
구매를 원하는 수량을 입력하세요: 3
재고가 부족합니다. 남은 수량: 2
구매를 원하는 수량을 입력하세요: 1
구매 수량은 1잔, 금액은 300원 입니다.
금액을 투입하여 주세요. 투입한 금액: 200
금액이 부족합니다. 투입된 금액 :200원, 부족한 금액 :100
투입한 금액을 반환합니다.
구매를 원하는 수량을 입력하세요: 2
구매 수량은 2잔, 금액은 600원 입니다.
금액을 투입하여 주세요. 투입한 금액: 200
금액이 부족합니다. 투입된 금액 :200원, 부족한 금액 :400
투입한 금액을 반환합니다.
구매를 원하는 수량을 입력하세요: 5
재고가 부족합니다. 남은 수량: 2
구매를 원하는 수량을 입력하세요: 1
구매 수량은 1잔, 금액은 300원 입니다.
금액을 투입하여 주세요. 투입한 금액: 600
투입한 금액은 600원, 거스름돈은 300원 입니다.
커피와 거스름돈을 챙겨주세요. 감사합니다.
구매를 원하는 수량을 입력하세요: 2
재고가 부족합니다. 남은 수량: 1
구매를 원하는 수량을 입력하세요: 1
구매 수량은 1잔, 금액은 300원 입니다.
금액을 투입하여 주세요. 투입한 금액: 600
투입한 금액은 600원, 거스름돈은 300원 입니다.
커피와 거스름돈을 챙겨주세요. 감사합니다.

In [404]:
# [과제] 람다 함수를 이용해서 a의 b제곱을 구하는 식을 만들고
# a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
# a = 2, b = 5
# a= 5, b = 2
L=lambda x,y:x**y
a=2; b=5
print(L(a,b))
a=5; b=2
print(L(a,b))

32
25